
#header
{
    width: 100%;
    height: 40px;
    background-color: #222222;
}

.viewImage{
    height: 100px;
    width: 100px;
}
.horizontal{
    height: 450px;
    width: 755px;
}
.vertical{
    height: 450px;
    width: 365px;
}
.horizontalSmall{
    height: 212px;
    width: 365px;
}
.gallery{
    height: 380px;
    width: 380px;
}
.imageLayout{
    padding: 3px 8px;
    margin: 10px;
}
#MessageNotify{
    background-color: #D9EDF7;
    color: #2e6da4;
    position: fixed;
    top:10px;
    right: 20%;
    max-height: 400px;
    max-width: 600px;
    padding: 10px;
    display: none;
    border-radius: 2px;
    border: solid 1px #2e6da4;
    z-index: 10;
    font-size: 140%;
}