<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="App" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="App" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="js/Utils.js"></script>
  <script src="services/DataStore.js"></script>
  <script src="controllers/AppController.js"></script>
  <link rel="stylesheet" href="styles/style.css">
  <script src="bower_components/angular-img-cropper/dist/angular-img-cropper.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-app="App" style="background-color: #f5f5f5">
  <div ng-controller="AppController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a  class="navbar-brand" href="#" ng-click="setUploadView()">
            Upload
          </a>
          <a href="#" class="navbar-brand" ng-click="setImageView()">
            View
          </a>
          <div class="navbar-brand text-right" style="float: right;">
            <input type="text" ng-model="userName" placeholder="user name">
          </div>
        </div>
      </div>
      </nav>
    <div style="">
    <ng-include ng-if="isUpload" src="'views/uploadView.html'" onload="uploadViewEvents()">

    </ng-include>
      <ng-include ng-if="!isUpload" src="'views/imageView.html'" onload="">

      </ng-include>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
